body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.buttonSection.d-inline {
  display: inline-block;
  float: right;
}
ul.pagination li.active {
  background: #000;
  color: #fff;
}
ul.pagination li {
  border: 1px solid;
  padding: 3px 10px;
  margin-left: 5px;
}
.filterable-table-container {
  box-shadow: rgb(31 30 47 / 10%) 0px 2px 4px;
  margin-bottom: 24px;
  background-color: rgb(243 235 235);
  border-radius: 0.25rem;
  padding: 15px;
}
.headTitle {
  padding: 20px;
}
ul.pagination.pagination-sm.pull-right {
  display: none;
}
.row.header-row {
  display: flow-root;
}
.col-sm-3.filter-container {
  float: right;
}
.col-sm-5.col-sm-push-4 {
  float: left;
}
.filterable-table-container .header-row .record-count {
  padding-top: 7px;
  float: left;
}
.error_sell.form-control {
  border: 1px solid red;
}